
body {
	margin: 0;
	background-color: #424242;
}

section {
	padding: 30px;
	justify-content: center;
}

nav {
	position: fixed;
	background-color: black;
	margin: 0;
	padding: 10px;
	width: 100%;
	justify-content: flex-end;
}

nav a {
	text-decoration: none;
	color: white;
	margin-left: 20px;
	margin-right: 50px;
}

a:hover {
	color: #2E9AFE;
}

a {
	text-decoration: none;
	color: #424242;
}

h1 {
	font-family: 'Alex Brush';
	font-size: 3.5rem;
	font-weight: 300;
	line-height: 1.2;
}

p {
	font-family: 'Bellefair';
	font-size: 1.25rem;
	font-weight: 300;
}

footer {
	background-color: black !important;
	color: white !important;
}

#welcome-section {
	height: 100vh;

}

#welcome-section div {
	margin-top: 20vh;
}

#links div {
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

#profile-link img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-left: 10px;
	margin-right: 10px;
}

 .container {
 	margin: auto;
 	padding: 30px;
 	width: 80%;
 	background-color:  #d9d9dc;
	color: #424242;
	text-align: center;
 }

.flex {
	display: flex;
	flex-direction: row;
}

.pict {
	width: 15%;
	border: 1px solid #424242;
	height: auto;
	border-radius: 50%;
	margin: auto;
}

.grid {
	display: grid;
	grid-template-columns: 45% 45%;
	grid-gap: 20px;
	
}

.project-tile {
	width: 50%;
	justify-self: center;
}

.project-tile img {
	width: 200px;
	height: 150px;
}

@media (max-width: 640px) {
	nav {
		justify-content: center;
	}

	.container {
		margin: auto;
	}

	.grid {
		grid-template-columns: 100%;
	}

	.project-tile {
		width: 100%;
	}
}


