
body {
	background-color:  #d9d9dc !important;
	color: #545455 !important;
}
.pict {
	width: 18%;
	border: solid white;
	height: auto;
	margin-top: 8%;
}

.name {
	font-family: 'Alex Brush';
}

p {
	font-family: 'Bellefair';
}

.hello {
	width: 50%;
	height: auto;
	margin-left: 25%;
	margin-top: 2%;
}

.pos {
 	margin-right: 4%
 	
 }